<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Centralita del FEMPA</h1>
    <h4>Formulario de edicion de usuarios</h4>
    <a href="/">Volver</a>

    <form th:action="@{'/users/update/' + ${usuario.id}}" th:object="${usuario}" method="post">
        <table>
            <tr>
                <td><label >Nombre</label></td>
                <td><input type="text"  th:field="*{nombre_apellido}"></td>
                <td th:if="${#fields.hasErrors('nombre_apellido')}" th:errors="*{nombre_apellido}">
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="text" th:field="*{password}"></td>
            </tr>
            <tr>
                <td><label >Telefono</label></td>
                <td><input type="number" th:field="*{telefono}"></td>
            </tr>
            <tr>
                <td><label >Rol</label></td>
                <td><input type="text" th:field="*{rol}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Enviar"></td>
            </tr>
        </table>
    </form>

</body>
</html>