<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Insertar empleados</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
<form class="centro" method="post" th:action="@{/empleados}" th:object="${empleado}">
    <h1>Insertar empleado</h1>
    <div>
        <label for="nombreyapellido">Nombre y apellidos:</label>
        <input
                class="buscar"
                type="text"
                id="nombreyapellido"
                name="nombreyapellido"
                required
                th:field="*{nombreyapellido}"
        />
    </div>
    <div>
        <label for="email">Email:</label>
        <input class="buscar" type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="telefono">Telefono:</label>
        <input
                class="buscar"
                type="number"
                id="telefono"
                name="telefono"
                required
                th:field="*{telefono}"
        />
    </div>

    <div>
        <label for="contraseña">Contraseña:</label>
        <input
                class="buscar"
                type="password"
                id="contraseña"
                name="contraseña"
                required
                th:field="*{contraseña}"
        />
    </div>
    <button class="btnEnviar" type="submit">Enviar</button>
</form>
</body>
</html>