<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Insertar departamentos</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <form class="centro" method="post" action="">
      <h1>Insertar departamentos</h1>
      <div>
        <label for="nombredep">Nombre del departamento</label>
        <input
          class="buscar"
          type="text"
          id="nombredep"
          name="nombredep"
          required
        />
      </div>
      <button class="btnEnviar" type="submit">Enviar</button>
    </form>
  </body>
</html>
