<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar sesión</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <form class="centro" method="post" action="">
      <h1>Inicio de sesión</h1>
      <div>
        <label for="nombre">Usuario:</label>
        <input
          autocomplete="off"
          class="buscar"
          type="text"
          name="nombre"
          id="nombre"
          required
          placeholder="Introduce tu usuario"
        />
      </div>
      <div>
        <label for="contraseña">Contraseña:</label>
        <input
          class="buscar"
          type="password"
          name="contraseña"
          id="contraseña"
          required
          placeholder="Introduce tu contraseña"
        />
      </div>
      <button class="btnEnviar" type="submit">Iniciar Sesión</button>
    </form>
  </body>
</html>
