body{
    margin: 0;
    background-color: aquamarine;
}

.centro {
  margin: auto;
  text-align: center;
  width: 80%;
  padding: 20px;
  border: 1px solid black;
  margin-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 13px 13px rgba(0, 0, 0, 0.2);
  border-radius: 16px 16px 16px 16px;
  background-color:#42f59e;
}

.buscar {
  width: 50%;
  padding: 10px;
  margin:1.5em;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 15px;

  transition: 0.4s ease;
}
.buscar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.btnEnviar{
  padding: 15px;
  margin: 3%;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  font-weight:bold;
}

.btnColores{
    font-weight:bold;
    padding:10px;
    margin:1em;
    border-radius: 16px 16px 16px 16px;
}